*,
*::after,
*::before {
  box-sizing: border-box;
}

.canvas {
  position: absolute;
  // width: 100%;
  // height: 100%;
}

main {
  position: relative;
}

.grid {
  display: grid;
  padding: 1rem;
  margin: 0 auto;
  grid-template-columns: 100%;
  // grid-row-gap: 4rem;
  grid-column-gap: 20vw;
  max-width: 1200px;
  position: relative;

  &__item {
    height: 60vh;
    max-height: 500px;
    position: relative;
    overflow: hidden;

    // NOTE: For debug
    // background: red;

    span {
      font-size: 15vw;
      color: white;
    }
  }

  &__item:hover {
    span {
      color: black;
      background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;      
    }
  }  

  &__item-img {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  &__item-letter {
    position: absolute;
    bottom: -4vw;
    right: -4vw;
    z-index: 10;
    font-size: 15vw;
    line-height: 1;
  }
}

@media screen and (min-width: 53em) {
  .grid {    
    padding-top: 45vh;
    padding-left: 4rem;
    padding-right: 4rem;

    grid-template-columns: repeat(2, calc(50% - 10vw));
    grid-row-gap: 50vh;

    &__item:nth-child(even) {
      margin-top: -45vh;
    }
  }
}
